$width: 50%;
@mixin media($width) {
    @media only screen and (max-width: $width) {
        @content;
      }
}

.card-body{
    width: 500px;
    @include media(500px){
        width: 50vh;
    }
    @include media(400px){
        width: 40vh;
        
    }
    background: rgb(249,245,247);
    background: radial-gradient(circle, rgba(249,245,247,1) 0%, rgba(250,248,249,1) 38%, rgba(251,250,251,1) 73%, rgba(252,252,252,1) 100%); 

}