.card-body {
  width: 500px;
  background: #f9f5f7;
  background: radial-gradient(circle, #f9f5f7 0%, #faf8f9 38%, #fbfafb 73%, #fcfcfc 100%);
}

@media only screen and (max-width: 500px) {
  .card-body {
    width: 50vh;
  }
}

@media only screen and (max-width: 400px) {
  .card-body {
    width: 40vh;
  }
}

